{#<div class="static-menu">#}
{#    {% for item in menu_list %}#}
{#        <a href="{{ item.url }}" class="{{ item.active }}">#}
{#            <span class="icon-wrap"><i class="{{ item.icon }}"></i></span> {{ item.title }} </a>#}
{#    {% endfor %}#}
{#</div>#}

{#    """#}
{#        {2: {'title': '用户管理', 'icon': 'fa fa-bathtub', 'children': [{'title': '客户列表', 'url': '/customer/list/'}]}, 1: {'title': '信息管理', 'icon': 'fa fa-bathtub', 'children': [{'title': '订单列表', 'url': '/payment/list/'}]}} #}
{#    """#}

<div class="static-menu">
    {% for item in menu_dict.values %}
        <div class="item">
            <div class="header">{{ item.title }}</div>
            <div class="body">
                {% for node in item.children %}
                    <a href="{{ node.url }}">{{ node.title }}</a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{#<div class="static-menu">#}
{#    <div class="item">#}
{#        <div class="header">一级菜单</div>#}
{#        <div class="body">#}
{#            <a>二级菜单</a>#}
{#        </div>#}
{#    </div>#}
{#</div>#}